
extends layout

block content
    div.container
        div.row
            div.text-center
            form#my-awesome-dropzone.dropzone(action='/upload')

            .section
                .container
                    .row
                        .col-md-12
                            h1.text-center Recent uploads
                            p.text-center.lead The last user submitted images.
                    .row
                        -for(var i = 0; i < images.length - 4;i+=4)
                            .image-row
                                .row
                                    .col-md-3.imageblock
                                        a.image-thumbnail(href='/view/'+images[i].sId,style='background: url(/uploads/'+images[i].name+ ') no-repeat center;background-size: cover;')
                                        | !{images[i].location}
                                    .col-md-3.imageblock
                                        a.image-thumbnail(href='/view/' + images[i + 1].sId,style='background: url(/uploads/' + images[i + 1].name + ') no-repeat center;background-size: cover;')
                                        !{images[i + 1].location}
                                    .col-md-3.imageblock
                                        a.image-thumbnail(href='/view/' + images[i + 2].sId,style='background: url(/uploads/' + images[i + 2].name + ') no-repeat center;background-size: cover;')
                                        !{images[i + 2].location}
                                    .col-md-3.imageblock
                                        a.image-thumbnail(href='/view/' + images[i + 2].sId,style='background: url(/uploads/' + images[i + 3].name + ') no-repeat center;background-size: cover;')
                                        !{images[i + 3].location}

