//
   Created by ruben on 25/02/2017.
extends layout

block content

    form.form-horizontal(action="/upload", method="post", enctype="multipart/form-data")
     input.input-group(type="file", name="displayImage")
     input.btn.btn-default(type='submit',class='btn btn-default')
     br
